*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* --bg-color:#780000; */
    --menu-color:#003049;
    --select-menu-color:#FDF0D5;
    --submenu-color:#669BBC;
}

    

    html{
        font-family: Arial, Helvetica, sans-serif;
    }

    h1{
        text-align: center;
    }
    body{
        height:1200px;
    }
    header{
        padding-top: 3vh;
        background-color: var(--bg-color);
        width: 100%;
        height: 10vh;
        color: var(--select-menu-color);
    }

    #barras{
        display: none;
    }
    .fa-chevron-right{
       display: none;
    }

    #hamburguesa{
        width: 100%;
        height: 6vh;
        background-color: var(--menu-color);
        list-style: none;
        top: 0;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap:wrap ;
        
    }

    #hamburguesa li{
        width: 100%;
        height: 6vh;
        transition: all 300ms;
        cursor: pointer;
        position: relative;
        

        display: flex;
        justify-content: center;
        align-items: center;
    }
    #hamburguesa li a{
        text-decoration: none;
        color: var(--select-menu-color);
        letter-spacing: .1em;
    }

    #hamburguesa li:hover >a{
        scale: 1.2;
    }

    #hamburguesa li ul{
        width: 12rem;
        min-width: max-content;
        position: absolute;
        top: 6vh;

        background-color: var(--submenu-color);
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
    }

    #hamburguesa li ul li{
        border-bottom: 1px solid var(--select-menu-color);
    }


    #hamburguesa li ul li:last-child{

        border-bottom: none;
    }



    .menu-fixed {
        position:fixed;
        z-index:1000;
        top:0;
        max-width:1000px;
        width:100%;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
 
    }

    /* SECCION */

    body{
        background-color: var(--bg-color);
    }


    
    #cajaPrincipal{
        width: 95%;
        height: max-content;
        background-color: white;
        margin: 0 auto;
        margin-top: 2vh;
        box-shadow:0px 0px 13px rgba(0,0,0,.5);
        border-radius: 2em;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

        #cajaCabecera{
            width: 100%;
            height: 30vh;
            /* border: 1px solid black; */
            
        }

        #cajaCabecera h1{
            font-size: 4em;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: white;
            margin-top: 1em;
            animation: titulo infinite alternate 3s;
        }

        @keyframes titulo {
            from{
                text-shadow: none;
            }
            to{
                text-shadow: 0px 0px 10px rgba(0, 48, 73,.7);
            }
            
        }

        #cajaCabecera img{
            display: block;
            position: absolute;
            width: 7%;
            top: 7em;
            left: 20em;
        }
        #cajaContenido{
            width: 70%;
            height: max-content;
            /* border: 1px solid black; */
            padding: 10px;
        }
        .contenidoContenedor{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2em;
            /* border: 1px solid black; */
        }
        .contenidoContenedor img{
            width: 30%;
            height: 25%;
            margin: 2em;
        }
        .contenidoTexto{
            margin: 1em;
        }
        .contenidoTexto h2{
            margin: .5em;
        }

        #cajaLateral{
            width: 30%;
            height: max-content;
            /* border: 1px solid black; */

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        #cajaLateral .contenedorLateral{
           width: 95%;
           height: 40vh;
           margin: 1em;

           /* border: 1px solid black; */

            
        }
        .contenedorLogin{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3em;
        }

        #formulario{
            margin: 12em;
        }
        #formulario input{
            margin: .5em;
        }
        #formulario #textoCheckBox{
            font-size: .9em;
        }
        #formulario input[type="submit"]{
            margin-left:40%;
        }

       #publi{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        /* box-shadow: 4px 0px 10px #444; */

        display: flex;
        justify-content: center;
        align-items: center;
       }

      #publi p{
 
        animation: publi infinite alternate 1s;
      }

      #publi a{
        text-decoration: none;
        color: #444;
      }

      @keyframes publi {
        from{
            scale: 1;
        }
        to{
            scale:1.5;
        }
        
      }

      .contenedorNoticias{
        height: fit-content;
      }
      #noticias{
        padding: 2em;
        height: max-content;
        overflow: hidden;
      }
      #noticias ul{
        list-style: none;
      }
      #noticias li{
        margin: 1.5em;
      }
      #noticias a{
        color: #444;
        
      }

        /* FOOTER  */

        #footer{
            width: 100%;
            height: 20vh;
            margin: 0 auto;
            padding: 2em;
            background-color: var(--menu-color);
            color: var(--select-menu-color);
            margin-top: 2em;
            border-top-right-radius: 2em;
            border-top-left-radius: 2em;
            box-shadow:1px 0px 13px rgba(0,0,0,1);
        }

@media (max-width:700px) {
   
    h1{
        text-align: center;
    }
    header{
        padding-top: 3%;
        background-color: var(--bg-color);
        width: 100%;
        height: 10vh;
    }

    .menuHamburguesa{
        width: 100%;
        height: 6vh;
        background-color: var(--menu-color);
        display: block;
        position: relative;
        padding-left: 1.5em;
        padding-top: .5em;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
    }

    .barsContent{
        display: block;
        width: fit-content;
    }
    .fa-bars{
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #hamburguesa{
        width: 70%;
        height: calc(100vh - 16vh);
        background-color: var(--menu-color);
        list-style: none;
        overflow: hidden;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);

        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        translate: -100%;
        transition: ease-in-out 300ms;
        
    }

    #barras{

        display: block;
        color: var(--select-menu-color);
    }
    #hamburguesa li{
        display: block;
        width: 1000px;
        height: 100%;
        padding: 1em;
        padding-left: 2em;
        transition: all 300ms;

    }
    #hamburguesa li:hover{
        cursor: pointer;
        background-color: var(--select-menu-color);
    }
    #hamburguesa li >a{
        text-decoration: none;
        color: var(--select-menu-color);
    }
    #hamburguesa li:hover >a{
        color: var(--menu-color);
    }


    .fa-chevron-right{
        display: block;
        position: static;
        margin-left: 37%;
        margin-top: -2%;
        left: 85%;
        color: var(--select-menu-color);
    }
    #hamburguesa li:hover .fa-chevron-right{
        color: var(--menu-color);
    }

    #hamburguesa li ul{
        width: 130%;
        list-style: none;
        background-color: var(--submenu-color);
        position: relative;
        top: 1em;
        left: -35px;
        
    }

    #hamburguesa li ul li{
        display: block;
        width: 100em;
        padding-left: 4em;
    }
    #hamburguesa li ul li:hover{
        background-color: var(--select-menu-color);
    } 
}